@model EntityLayer.Concrete.Blog
@{
    ViewBag.Title = "addNewBlog";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<form class="form-group" method="post">
    @Html.Label("Blog Başlığı")
    @Html.TextBoxFor(x => x.title, new { @class = "form-control" })
    <br />
    @Html.Label("Kategori")
    @Html.DropDownListFor(x => x.categoryId, (List<SelectListItem>)ViewBag.values, new { @class = "form-control" })
    <br />
    @Html.Label("Resim yolu")
    @Html.TextBoxFor(x => x.image, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.date, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar")
    @Html.DropDownListFor(x => x.authorId, (List<SelectListItem>)ViewBag.values2, new { @class = "form-control" })
    <br />
    @Html.Label("İçerik")
    @Html.TextAreaFor(x => x.content, 5, 20, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">Kaydet</button>
</form>
