<!-- BLOG DETAYLARI -->
@{
    ViewBag.Title = "blogDetails";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<!-- Ana sayfada ya da kategorilerden herhangi bir bloğa tıklandığında o bloğun görüntülenmesi bu view üzerinden gerçekleşir!!! -->
@Html.Action("blogCover", "Blog")
<section class="site-section py-lg">
    <div class="container">
        <div class="row blog-entries element-animate">
            <div class="col-md-12 col-lg-8 main-content">
                @Html.Action("readAllBlog", "Blog")
                @Html.Action("blogCommentList", "Comment")
            </div> <!-- Bu div, blog sayfasında blogun yazısının bitip sağ taraftaki yazar bilgisi, kategoriler vs. kısmına geçilen div'dir.' -->
            <div class="col-md-12 col-lg-4 sidebar">
                <!-- Bu div ile sağ tarafa bir alan oluşturuyoruz. -->
                @Html.Action("authorAbout", "Author") <!-- Bloglarda sağ kısımdaki bloğun yazar bilgisini görüntüleme! -->
                @Html.Action("authorPopularBlogs", "Author")
                @Html.Action("categoryListInBlogDetails", "Category")
            </div>
        </div>
    </div>
</section>
@*@Html.Action("otherFeaturedBlogs", "Blog")*@
@Html.Action("addMail", "SubscribeMail")
@Html.Action("footer", "About") 